# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Local development settings
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage

# Misc
.DS_Store